lockfile=true
save-exact=true
engine-strict=true
auto-install-peers=true
enable-pre-post-scripts=true
strict-peer-dependencies=false
vite-plugin-uni-platform-loader:registry=https://registry.npmjs.org/